<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="./data.css">
</head>

<body>
    <form action="/info" method="post">
        <div class="navbar">
            <ul class="nav">
                <li><a href="/profile">Home</a></li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Service</li>
            </ul>
        </div>
        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStAA_L-g7DJbg3Am1KvjQbV7dpz9fPiavBYg&s"
                alt="User Image">
            <p><b>Name :- </b>{{nm}}</p>
            <p><b>Email :- </b>{{em}}</p>
            <p><b>Password :- </b>{{pass}}</p>
            <input type="button" id="updateButton" value="Update">
        </div>
    </form>
    <script>
        document.getElementById('updateButton').addEventListener('click', function () {
            window.location.href = '/update';
        });
    </script>
</body>

</html>