<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./login.css">
</head>

<body>
    <form action="/" method="post">
        <div class="full">
            <h1>Login Page</h1>
            <div class="first">
                <input type="email" required placeholder="Enter email" name="email" id="email">
            </div>
            <div class="first">
                <input type="password" required placeholder="Enter password" name="password" id="password">
            </div>
            <div class="chk">
                <label><input type="checkbox" name="chk" required id="chk">Remember Me ?</label>
                <a href="#">Forgot Password</a>
            </div>
            <div class="btn">
                <input type="submit" value="Login">
            </div>
            <div class="end">
                <label>Dont't have an account ?&nbsp;<a href="./register">Register</a></label>
            </div>
        </div>
    </form>
</body>

</html>