<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./update.css">
</head>

<body>
    <form action="/Update" method="post">
        <div class="full">
            <h1>Update Page</h1>
            <div class="first">
                <input type="text" required placeholder="Enter fullname" name="fullname" id="name">
            </div>
            <div class="first">
                <input type="email" required placeholder="Enter email" name="email" id="email">
            </div>
            <div class="first">
                <input type="password" required placeholder="Enter password" name="password" id="password">
            </div>
            <div class="btn">
                <input type="submit" value="Update">
            </div>
        </div>
    </form>
</body>

</html>